body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 1200px;
    margin-left: calc(50% - 500px);
    margin-top: 20px;
}

.head {
    width: 100%;
    float: left;
}

.head > .navigation-main {
    float: right;
    font-weight: bold;
    height: 48px;
    padding: 10px 0;
}

.head > .navigation-main > .navigation {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.head > .navigation-main > .head-button {
    display: inline-block;
    margin-left: 20px;
    border: 2px solid #D3A863;
    background-color: #D3A863;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}