.head {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.head > .navigation-main {
    float: right;
    height: 48px;
}

.head > .navigation-main > .navigation {
    display: inline-block;
    margin-left: 35px;
    margin-top: 17px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    font-size: 14px;
}

.head > .navigation-main > .head-button {
    display: inline-block;
    margin-left: 20px;
    border: 2px solid #D3A863;
    background-color: #D3A863;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
}
