.honeybee {
    width: 40%;
    float: left;
    height: 0s;
    margin-top: 180px;
}

.honeybee > .para-1 {
    width: 100%;
    float: left;
    font-weight: bold;
    letter-spacing: 2px;
}

.honeybee > .h-1 {
    width: 100%;
    margin-top: 15px;
    float: left;
    font-size: 80px;
}

.honeybee > .para-2 {
    width: 100%;
    float: left;
    color: #585451;
    margin-top: 20px;
    padding-right: 10%;
    font-size: 14px;
    letter-spacing: 1px;
}

.honeybee > .main-button-1 {
    width: 170px;
    margin-right: 40%;
    float: left;
    margin-top: 40px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    border: 2px solid #D3A863;
    background-color: #D3A863;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.honeybee > .main-button-1:hover {
    background-color: #C74919;
}

.img-pure {
    width: 60%;
    height: 600px;
    margin-top: 50px;
}

.img-beekeeper {
    width: 60%;
    margin-top: 50px;
}

.right-column {
    width: 35%;
    margin-top: 50px;
    float: right;
    background-color: #FBFAF8;
    height: 600px;
    padding: 25px;
}

.h-2 {
    width: 100%;
    margin-top: 15px;
    font-size: 26px;
    font-weight: bold;
}

.date {
    margin-top: 30px;
    font-weight: bold;
    font-size: 12px;
    color: #C74919;
}

.h-3 {
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.text-1 {
    margin-top: 10px;
    font-size: 12px;
    color: #585451;
}

.right-column > .a-link {
    line-height: 100px;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    color: black;
}

.beekeeper-column {
    width: 60%;
    margin-top: 20px;
}

.text-2 {
    margin-top: 10px;
    font-size: 16px;
    color: #585451;
}

.products {
    width: 100%;
    margin-top: 70px;
}

.h-4 {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.text-3 {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: #585451;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.img-products {
    width: 100%;
    margin-top: 50px;
}

.product-info {
    width: 33%;
    display: inline-block;
}

.h-5 {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.cost {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #C74919;
    text-align: center;
}

.cart {
    width: 100%;
    float: left;
    margin-top: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
}

.girl {
    width: 100%;
    margin-top: 100px;
}

.img-girl {
    width: 30%;
}

.girl > .side-text {
    display: inline-block;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 600px;
    font-size: 18px;
    font-style: italic;
    color: #585451;
    letter-spacing: 1px;
}

.gallery {
    margin-top: 40px;
}

.img-gallery {
    width: 30%;
    padding: 5px;
    display: inline-block;
}

