.honeybee {
    width: 50%;
    float: left;
    height: 0s;
    margin-top: 180px;
}

.honeybee > .para-1 {
    width: 100%;
    font-weight: bold;
}

.h-1 {
    width: 100%;
    float: left;
    font-size: 80px;
}

.para-2 {
    width: 100%;
    float: left;
}

.main-button-1 {
    width: 100%;
    float: left;
}

.img-pure {
    width: 50%;
    height: 600px;
    margin-top: 50px;
}

.img-beekeeper {
    width: 60%;
    margin-top: 50px;
    float: left;
}

.right-column {
    width: 35%;
    margin-top: 50px;
    float: right;
    background-color: white;
    height: 750px;
}

.beekeeper-column {
    width: 60%;
    float: left;
    margin-top: 20px;
}