body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: Arial Narrow;
    width: 1000px;
    margin-left: calc(50% - 500px);
    background-color: #F8F3F0;
}
